___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

In [1]:
import pandas as pd

In [2]:
df = pd.read_json("scout_car.json",lines=True,orient='columns')
df.head(1)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [4]:
df.tail(1)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,NaN,...,"[\n, Sicherheit Airbags:, , Seitenairbag, , ...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.sample(5)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
11617,https://www.autoscout24.com//offers/opel-insig...,Opel Insignia,A Country Tourer 2.0 CDTI ecoFlex,Station wagon,17210,VAT deductible,"79,640 km",03/2017,None,NaN,...,"[\n, Sonderausstattung:, Aktives Kurvenlicht (...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
3884,https://www.autoscout24.com//offers/audi-a3-30...,Audi A3,"30 TFSI Sportback Basis 116PS,/4 Jahr Garanti",Station wagon,20980,VAT deductible,- km,-/-,None,NaN,...,"[\n, Garantie 4 Jahre / 200.000 KM Laufleistun...",NaN,NaN,[\nHungary\n],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
1585,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback S line 1.4 TFSI (150 PS) S tronic XENON,Compact,23829,VAT deductible,"7,232 km",02/2018,1 previous owner,NaN,...,"[\n, Highlights: , 1. Hand; Scheckheftgepflegt...",NaN,[\n7\n],[\nGermany\n],[\n0 kWh/100 km (comb)\n],NaN,NaN,NaN,NaN,NaN
9380,https://www.autoscout24.com//offers/opel-corsa...,Opel Corsa,1.4 Edition,Sedans,8900,Price negotiable,"14,000 km",03/2017,1 previous owner,NaN,...,[\nAchtung 51 KW Motor\n],NaN,[\n5\n],NaN,NaN,"[\n07/2018\n, \nEuro 6d-TEMP\n]",NaN,NaN,NaN,NaN
13371,https://www.autoscout24.com//offers/renault-cl...,Renault Clio,Sporter dCi 8V 90CV EDC Start&Stop Energy Intens,Station wagon,12950,None,"4,529 km",05/2017,1 previous owner,NaN,...,"[\nDEK:[2469773], EQUIPAGGIAMENTI DI SERIE :, ...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(15919, 54)

In [7]:
df.size

859626

In [8]:
df.describe()

              price   kW
count  15919.000000  0.0
mean   18019.896727  NaN
std     7386.169409  NaN
min       13.000000  NaN
25%    12850.000000  NaN
50%    16900.000000  NaN
75%    21900.000000  NaN
max    74600.000000  NaN

In [9]:
df.describe(include = object).T

,count,unique,top,freq
url,15919,15919,https://www.autoscout24.com//offers/audi-a3-tf...,1
make_model,15919,9,Audi A3,3097
short_description,15873,10001,SPB 1.6 TDI 116 CV S tronic Sport,64
body_type,15859,9,Sedans,7903
vat,11406,2,VAT deductible,10980
km,15919,6690,10 km,1045
registration,15919,48,-/-,1597
prev_owner,9091,4,1 previous owner,8294
hp,15919,81,85 kW,2542
Type,15917,169,"[, Used, , Diesel (Particulate Filter)]",3475
Previous Owners,9279,102,\n1\n,8101
Next Inspection,3535,1399,\n04/2022\n,62
Inspection new,3932,202,"[\nYes\n, \nEuro 6\n]",523
Warranty,10499,515,"[\n, \n, \nEuro 6\n]",1868
Full Service,8215,122,"[\n, \n, \n4 (Green)\n]",2235
Non-smoking Vehicle,7177,94,"[\n, \n]",3647
null,15919,1,[],15919
Make,15919,3,\nOpel\n,7343
Model,15919,9,"[\n, A3, \n]",3097
Offer Number,12744,11440,[\nTP62881\n],27
First Registration,14322,4,"[\n, 2018, \n]",4522
Body Color,15322,14,"[\n, Black, \n]",3745
Paint Type,10147,3,[\nMetallic\n],9794
Body Color Original,12160,1927,[\nOnyx Schwarz\n],338
Upholstery,12199,46,"[\nCloth, Black\n]",5821
Body,15859,9,"[\n, Sedans, \n]",7903
Nr. of Doors,15707,6,[\n5\n],11575
Nr. of Seats,14942,6,[\n5\n],13336
Model Code,4978,232,[\n0035/BCB\n],268
Gearing Type,15919,3,"[\n, Manual, \n]",8153
Displacement,15423,77,"[\n1,598 cc\n]",4761
Cylinders,10239,7,[\n4\n],8105
Weight,8945,434,"[\n1,163 kg\n]",574
Drive chain,9061,3,[\nfront\n],8886
Fuel,15919,77,"[\n, Diesel (Particulate Filter), \n]",4315
Consumption,14013,881,"[[3.9 l/100 km (comb)], [4.1 l/100 km (city)],...",304
CO2 Emission,14111,123,[\n120 g CO2/km (comb)\n],740
Emission Class,12898,7,[\nEuro 6\n],10139
\nComfort & Convenience\n,14999,6198,"[Air conditioning, Electrical side mirrors, Hi...",216
\nEntertainment & Media\n,14545,346,"[Bluetooth, Hands-free equipment, On-board com...",1282
\nExtras\n,12957,659,[Alloy wheels],3245
\nSafety & Security\n,14937,4443,"[ABS, Central door lock, Daytime running light...",538
description,15919,12874,[],636
Emission Label,3985,6,[\n4 (Green)\n],3553
Gears,11207,10,[\n6\n],5822
Country version,7586,23,[\nGermany\n],4502
Electricity consumption,137,1,[\n0 kWh/100 km (comb)\n],137
Last Service Date,566,266,"[\n02/2019\n, \nEuro 6\n]",23
Other Fuel Types,880,1,"[[], [], []]",880
Availability,635,15,\nin 90 days from ordering\n,196
Last Timing Belt Service Date,16,15,[\n04/2016\n],2
Available from,272,46,\n31/08/19\n,98

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [11]:
dtypes = pd.DataFrame(df.dtypes, columns = ['dtypes'])
dtypes

                                dtypes
url                             object
make_model                      object
short_description               object
body_type                       object
price                            int64
vat                             object
km                              object
registration                    object
prev_owner                      object
kW                             float64
hp                              object
Type                            object
Previous Owners                 object
Next Inspection                 object
Inspection new                  object
Warranty                        object
Full Service                    object
Non-smoking Vehicle             object
null                            object
Make                            object
Model                           object
Offer Number                    object
First Registration              object
Body Color                      object
Paint Type                      object
Body Color Original             object
Upholstery                      object
Body                            object
Nr. of Doors                    object
Nr. of Seats                    object
Model Code                      object
Gearing Type                    object
Displacement                    object
Cylinders                       object
Weight                          object
Drive chain                     object
Fuel                            object
Consumption                     object
CO2 Emission                    object
Emission Class                  object
\nComfort & Convenience\n       object
\nEntertainment & Media\n       object
\nExtras\n                      object
\nSafety & Security\n           object
description                     object
Emission Label                  object
Gears                           object
Country version                 object
Electricity consumption         object
Last Service Date               object
Other Fuel Types                object
Availability                    object
Last Timing Belt Service Date   object
Available from                  object

In [12]:
notnull = pd.DataFrame(df.notnull().sum(), columns = ['notnull'])
notnull

                               notnull
url                              15919
make_model                       15919
short_description                15873
body_type                        15859
price                            15919
vat                              11406
km                               15919
registration                     15919
prev_owner                        9091
kW                                   0
hp                               15919
Type                             15917
Previous Owners                   9279
Next Inspection                   3535
Inspection new                    3932
Warranty                         10499
Full Service                      8215
Non-smoking Vehicle               7177
null                             15919
Make                             15919
Model                            15919
Offer Number                     12744
First Registration               14322
Body Color                       15322
Paint Type                       10147
Body Color Original              12160
Upholstery                       12199
Body                             15859
Nr. of Doors                     15707
Nr. of Seats                     14942
Model Code                        4978
Gearing Type                     15919
Displacement                     15423
Cylinders                        10239
Weight                            8945
Drive chain                       9061
Fuel                             15919
Consumption                      14013
CO2 Emission                     14111
Emission Class                   12898
\nComfort & Convenience\n        14999
\nEntertainment & Media\n        14545
\nExtras\n                       12957
\nSafety & Security\n            14937
description                      15919
Emission Label                    3985
Gears                            11207
Country version                   7586
Electricity consumption            137
Last Service Date                  566
Other Fuel Types                   880
Availability                       635
Last Timing Belt Service Date       16
Available from                     272

In [13]:
isnull = pd.DataFrame(df.isnull().sum(), columns = ['isnull'])
isnull

                               isnull
url                                 0
make_model                          0
short_description                  46
body_type                          60
price                               0
vat                              4513
km                                  0
registration                        0
prev_owner                       6828
kW                              15919
hp                                  0
Type                                2
Previous Owners                  6640
Next Inspection                 12384
Inspection new                  11987
Warranty                         5420
Full Service                     7704
Non-smoking Vehicle              8742
null                                0
Make                                0
Model                               0
Offer Number                     3175
First Registration               1597
Body Color                        597
Paint Type                       5772
Body Color Original              3759
Upholstery                       3720
Body                               60
Nr. of Doors                      212
Nr. of Seats                      977
Model Code                      10941
Gearing Type                        0
Displacement                      496
Cylinders                        5680
Weight                           6974
Drive chain                      6858
Fuel                                0
Consumption                      1906
CO2 Emission                     1808
Emission Class                   3021
\nComfort & Convenience\n         920
\nEntertainment & Media\n        1374
\nExtras\n                       2962
\nSafety & Security\n             982
description                         0
Emission Label                  11934
Gears                            4712
Country version                  8333
Electricity consumption         15782
Last Service Date               15353
Other Fuel Types                15039
Availability                    15284
Last Timing Belt Service Date   15903
Available from                  15647

In [14]:
for column in df.columns:
    percentage = df[column].isnull().mean()
    print(f'{column}:{round(percentage*100, 2)}%')

url:0.0%
make_model:0.0%
short_description:0.29%
body_type:0.38%
price:0.0%
vat:28.35%
km:0.0%
registration:0.0%
prev_owner:42.89%
kW:100.0%
hp:0.0%
Type:0.01%
Previous Owners:41.71%
Next Inspection:77.79%
Inspection new:75.3%
Warranty:34.05%
Full Service:48.39%
Non-smoking Vehicle:54.92%
null:0.0%
Make:0.0%
Model:0.0%
Offer Number:19.94%
First Registration:10.03%
Body Color:3.75%
Paint Type:36.26%
Body Color Original:23.61%
Upholstery:23.37%
Body:0.38%
Nr. of Doors:1.33%
Nr. of Seats:6.14%
Model Code:68.73%
Gearing Type:0.0%
Displacement:3.12%
Cylinders:35.68%
Weight:43.81%
Drive chain:43.08%
Fuel:0.0%
Consumption:11.97%
CO2 Emission:11.36%
Emission Class:18.98%

Comfort & Convenience
:5.78%

Entertainment & Media
:8.63%

Extras
:18.61%

Safety & Security
:6.17%
description:0.0%
Emission Label:74.97%
Gears:29.6%
Country version:52.35%
Electricity consumption:99.14%
Last Service Date:96.44%
Other Fuel Types:94.47%
Availability:96.01%
Last Timing Belt Service Date:99.9%
Available from:98.29%

In [15]:
df_summary = pd.concat([dtypes, notnull, isnull], axis = 1).reset_index().rename({'index':'Columns'},axis = 1)
df_summary

                          Columns   dtypes  notnull  isnull
0                             url   object    15919       0
1                      make_model   object    15919       0
2               short_description   object    15873      46
3                       body_type   object    15859      60
4                           price    int64    15919       0
5                             vat   object    11406    4513
6                              km   object    15919       0
7                    registration   object    15919       0
8                      prev_owner   object     9091    6828
9                              kW  float64        0   15919
10                             hp   object    15919       0
11                           Type   object    15917       2
12                Previous Owners   object     9279    6640
13                Next Inspection   object     3535   12384
14                 Inspection new   object     3932   11987
15                       Warranty   object    10499    5420
16                   Full Service   object     8215    7704
17            Non-smoking Vehicle   object     7177    8742
18                           null   object    15919       0
19                           Make   object    15919       0
20                          Model   object    15919       0
21                   Offer Number   object    12744    3175
22             First Registration   object    14322    1597
23                     Body Color   object    15322     597
24                     Paint Type   object    10147    5772
25            Body Color Original   object    12160    3759
26                     Upholstery   object    12199    3720
27                           Body   object    15859      60
28                   Nr. of Doors   object    15707     212
29                   Nr. of Seats   object    14942     977
30                     Model Code   object     4978   10941
31                   Gearing Type   object    15919       0
32                   Displacement   object    15423     496
33                      Cylinders   object    10239    5680
34                         Weight   object     8945    6974
35                    Drive chain   object     9061    6858
36                           Fuel   object    15919       0
37                    Consumption   object    14013    1906
38                   CO2 Emission   object    14111    1808
39                 Emission Class   object    12898    3021
40      \nComfort & Convenience\n   object    14999     920
41      \nEntertainment & Media\n   object    14545    1374
42                     \nExtras\n   object    12957    2962
43          \nSafety & Security\n   object    14937     982
44                    description   object    15919       0
45                 Emission Label   object     3985   11934
46                          Gears   object    11207    4712
47                Country version   object     7586    8333
48        Electricity consumption   object      137   15782
49              Last Service Date   object      566   15353
50               Other Fuel Types   object      880   15039
51                   Availability   object      635   15284
52  Last Timing Belt Service Date   object       16   15903
53                 Available from   object      272   15647

In [16]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

### COLUMN-1 url

Tüm satırlar dolu. DROP edip edilmeyeceğine daha sonra karar verilecek.

In [17]:
df.url

0        https://www.autoscout24.com//offers/audi-a1-sp...
1        https://www.autoscout24.com//offers/audi-a1-1-...
2        https://www.autoscout24.com//offers/audi-a1-sp...
3        https://www.autoscout24.com//offers/audi-a1-1-...
4        https://www.autoscout24.com//offers/audi-a1-sp...
                               ...
15914    https://www.autoscout24.com//offers/renault-es...
15915    https://www.autoscout24.com//offers/renault-es...
15916    https://www.autoscout24.com//offers/renault-es...
15917    https://www.autoscout24.com//offers/renault-es...
15918    https://www.autoscout24.com//offers/renault-es...
Name: url, Length: 15919, dtype: object

### COLUMN-2 make_model

Temiz sütun. Kullanılabilir. 19 (Make) ve 20 (Model) sütunlarla beraber değerlendirilecek

In [18]:
df.make_model

0               Audi A1
1               Audi A1
2               Audi A1
3               Audi A1
4               Audi A1
              ...
15914    Renault Espace
15915    Renault Espace
15916    Renault Espace
15917    Renault Espace
15918    Renault Espace
Name: make_model, Length: 15919, dtype: object

In [19]:
df.make_model.unique()

array(['Audi A1', 'Audi A2', 'Audi A3', 'Opel Astra', 'Opel Corsa',
       'Opel Insignia', 'Renault Clio', 'Renault Duster',
       'Renault Espace'], dtype=object)

### COLUMN-3 short_description

In [20]:
df.short_description

0              Sportback 1.4 TDI S-tronic Xenon Navi Klima
1                                           1.8 TFSI sport
2        Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
3                                  1.4 TDi Design S tronic
4        Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
                               ...
15914                Blue dCi 200CV EDC Executive 4Control
15915                  TCe 225 EDC GPF LIM Deluxe Pano,RFK
15916    Blue dCi 200 EDC Initiale Paris Leder LED Navi...
15917    Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...
15918          INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX
Name: short_description, Length: 15919, dtype: object

### COLUMN-4 body_type

In [21]:
df.body_type.value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

### COLUMN-5 price

In [22]:
df.price.nunique()

2956

### COLUMN-6 vat

In [23]:
df.vat.value_counts()

VAT deductible      10980
Price negotiable      426
Name: vat, dtype: int64

### COLUMN-7 km

In [24]:
df.km.value_counts()

10 km         1045
- km          1024
1 km           367
5 km           170
50 km          148
              ...
92,470 km        1
15,243 km        1
176,476 km       1
87,750 km        1
37,649 km        1
Name: km, Length: 6690, dtype: int64

### COLUMN-8 registration

In [25]:
df.registration.value_counts() # 22 sütunla karşılaştırmalı kullanımına karar verilecek

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
04/2018     541
01/2019     541
02/2018     539
03/2016     536
06/2018     532
04/2016     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

### COLUMN-9 prev_owner

In [26]:
df.prev_owner.value_counts()

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [27]:
df[["prev_owner", "Previous Owners"]]

              prev_owner                                    Previous Owners
0      2 previous owners                                              \n2\n
1                   None                                                NaN
2       1 previous owner                                              \n1\n
3       1 previous owner                                              \n1\n
4       1 previous owner                                              \n1\n
...                  ...                                                ...
15914               None                                                NaN
15915   1 previous owner  [\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...
15916   1 previous owner                   [\n1\n, \n139 g CO2/km (comb)\n]
15917               None                                                NaN
15918   1 previous owner                                              \n1\n

[15919 rows x 2 columns]

In [28]:
df["Previous Owners"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n1\n                               8101
\n2\n                                766
\n0\n                                163
\n3\n                                 17
[\n1\n, \n168 g CO2/km (comb)\n]      13
                                    ...
[\n1\n, \n137 g CO2/km (comb)\n]       1
[\n2\n, \n127 g CO2/km (comb)\n]       1
[\n1\n, \n159 g CO2/km (comb)\n]       1
[\n0\n, \n117 g CO2/km (comb)\n]       1
[\n1\n, \n102 g CO2/km (comb)\n]       1
Name: Previous Owners, Length: 102, dtype: int64

### COLUMN-10 kW

In [29]:
# DROP edilecek

### COLUMN-11 hp

In [30]:
df.hp.value_counts().index

Index(['85 kW', '66 kW', '81 kW', '100 kW', '110 kW', '70 kW', '125 kW',
       '51 kW', '55 kW', '118 kW', '92 kW', '121 kW', '147 kW', '77 kW',
       '56 kW', '54 kW', '103 kW', '87 kW', '165 kW', '88 kW', '60 kW',
       '162 kW', '- kW', '74 kW', '96 kW', '71 kW', '101 kW', '67 kW',
       '154 kW', '122 kW', '119 kW', '164 kW', '135 kW', '82 kW', '52 kW',
       '1 kW', '78 kW', '294 kW', '146 kW', '141 kW', '57 kW', '104 kW',
       '120 kW', '191 kW', '112 kW', '117 kW', '155 kW', '184 kW', '76 kW',
       '90 kW', '65 kW', '80 kW', '93 kW', '149 kW', '98 kW', '168 kW',
       '53 kW', '150 kW', '167 kW', '40 kW', '89 kW', '86 kW', '140 kW',
       '270 kW', '127 kW', '228 kW', '63 kW', '143 kW', '75 kW', '163 kW',
       '133 kW', '44 kW', '123 kW', '84 kW', '115 kW', '132 kW', '239 kW',
       '9 kW', '195 kW', '137 kW', '4 kW'],
      dtype='object')

### COLUMN-12 Type

In [31]:
df.Type.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                                       3475
[, Used, , Diesel]                                                                                                                            2516
[, Used, , Gasoline]                                                                                                                          2367
[, Used, , Super 95]                                                                                                                          1818
[, Pre-registered, , Super 95]                                                                                                                 500
                                                                                                                                              ...
[, Used, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter)]       1
[, Pre-registered, , Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98]                  1
[, Demonstration, , Regular/Benzine E10 91]                                                                                                      1
[, Demonstration, , Gasoline (Particulate Filter)]                                                                                               1
[, Used, , Super 95 / Regular/Benzine E10 91]                                                                                                    1
Name: Type, Length: 169, dtype: int64

### COLUMN-13 Previous Owners

In [32]:
# 9 column ile beraber değerlendirilecek

### COLUMN-14 Next Inspection

In [33]:
df["Next Inspection"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n04/2022\n                               62
\n03/2021\n                               38
\n03/2022\n                               36
\n06/2021\n                               34
\n01/2022\n                               32
                                          ..
[\n08/2019\n, \n104 g CO2/km (comb)\n]     1
[\n12/2019\n, \n112 g CO2/km (comb)\n]     1
[\n01/2020\n, \n102 g CO2/km (comb)\n]     1
[\n12/2017\n, \n100 g CO2/km (comb)\n]     1
[\n12/2020\n, \n126 g CO2/km (comb)\n]     1
Name: Next Inspection, Length: 1399, dtype: int64

### COLUMN-15 Inspection new

In [34]:
df["Inspection new"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nYes\n, \nEuro 6\n]                                                                          523
\nYes\n                                                                                        362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                             174
[\nYes\n, \n4 (Green)\n]                                                                       166
[\nYes\n, \nEuro 6d-TEMP\n]                                                                    134
                                                                                              ...
[\nYes\n, \n183 g CO2/km (comb)\n]                                                               1
[\nYes\n, \n, 4.9 l/100 km (comb), \n, 5.9 l/100 km (city), \n, 4.3 l/100 km (country), \n]      1
[\nYes\n, \n, 5.9 l/100 km (comb), \n, 7.4 l/100 km (city), \n, 5 l/100 km (country), \n]        1
[\nYes\n, \n, 5.4 l/100 km (comb), \n, \n, \n]                                                   1
[\nYes\n, \n, 4.4 l/100 km (comb), \n, 5.4 l/100 km (city), \n, 5 l/100 km (country), \n]        1
Name: Inspection new, Length: 202, dtype: int64

### COLUMN-16 Warranty

In [35]:
df[["Warranty","Emission Label", "CO2 Emission", "Emission Class"]].sample(20)

,Warranty,Emission Label,CO2 Emission,Emission Class
5993,NaN,NaN,[\n115 g CO2/km (comb)\n],[\nEuro 6\n]
7115,"[\n, \n, \n135 g CO2/km (comb)\n]",[\n4 (Green)\n],[\n135 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n]
4174,"[\n, \n, \nEuro 6d\n]",NaN,[\n107 g CO2/km (comb)\n],[\nEuro 6d\n]
15765,"[\n60 months\n, \nEuro 6\n]",NaN,[\n123 g CO2/km (comb)\n],[\nEuro 6\n]
1228,"[\n, \n, \n120 g CO2/km (comb)\n]",NaN,[\n120 g CO2/km (comb)\n],[\nEuro 6\n]
10185,"[\n72 months\n, \n129 g CO2/km (comb)\n]",NaN,[\n129 g CO2/km (comb)\n],NaN
15858,"[\n24 months\n, \nEuro 6d\n]",NaN,[\n148 g CO2/km (comb)\n],[\nEuro 6d\n]
5104,NaN,NaN,[\n117 g CO2/km (comb)\n],[\nEuro 6\n]
5209,NaN,[\n4 (Green)\n],[\n117 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n]
5349,NaN,[\n4 (Green)\n],[\n118 g CO2/km (comb)\n],[\nEuro 6\n]
9770,"[\n, \n]",[\n4 (Green)\n],NaN,"[[], [], []]"
11477,"[\n, \n, \n4 (Green)\n]",NaN,[\n144 g CO2/km (comb)\n],[\nEuro 6\n]
14956,\n12 months\n,NaN,NaN,NaN
12857,"[\n3 months\n, \n128 g CO2/km (comb)\n]",NaN,[\n128 g CO2/km (comb)\n],[\nEuro 6\n]
14594,\n,NaN,[\n85 g CO2/km (comb)\n],[\nEuro 6\n]
14494,NaN,NaN,"[[], [], []]",NaN
6182,NaN,[\n4 (Green)\n],NaN,"[[], [], []]"
11076,\n12 months\n,NaN,[\n109 g CO2/km (comb)\n],[\nEuro 6\n]
6716,"[\n, \n, \nEuro 6\n]",NaN,[\n119 g CO2/km (comb)\n],[\nEuro 6\n]
7958,\n,[\n4 (Green)\n],[\n107 g CO2/km (comb)\n],[\nEuro 6d-TEMP\n]

### COLUMN-17 Full Service

In [36]:
df["Full Service"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
\n                                                                                             283
                                                                                              ...
[\n, \n, \n164 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.5 l/100 km (comb), \n, 7.2 l/100 km (city), \n, 4.5 l/100 km (country), \n]       1
[\n, \n, \n, 5.4 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.2 l/100 km (country), \n]       1
[\n, \n, \n, 6.6 l/100 km (comb), \n, 8.3 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n13,983 g CO2/km (comb)\n]                                                             1
Name: Full Service, Length: 122, dtype: int64

### COLUMN-18 Non-smoking Vehicle

In [37]:
df["Non-smoking Vehicle"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
                                                                                              ...
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n144 g CO2/km (comb)\n]                                                                1
[\n, \n, \n189 g CO2/km (comb)\n]                                                                1
[\n, \n, \n146 g CO2/km (comb)\n]                                                                1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                1
Name: Non-smoking Vehicle, Length: 94, dtype: int64

### COLUMN-19 null

In [38]:
df["null"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]    15919
Name: null, dtype: int64

### COLUMN-20 Make

In [39]:
df[["make_model", "Make", "Model"]].sample(50)

           make_model         Make               Model
5768       Opel Astra     \nOpel\n     [\n, Astra, \n]
12317   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
11840   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
12841   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
3095          Audi A3     \nAudi\n        [\n, A3, \n]
5053          Audi A3     \nAudi\n        [\n, A3, \n]
3457          Audi A3     \nAudi\n        [\n, A3, \n]
10814   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
5862       Opel Astra     \nOpel\n     [\n, Astra, \n]
10728   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
7337       Opel Astra     \nOpel\n     [\n, Astra, \n]
7955       Opel Astra     \nOpel\n     [\n, Astra, \n]
5999       Opel Astra     \nOpel\n     [\n, Astra, \n]
12417   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
11201   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
11784   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
6288       Opel Astra     \nOpel\n     [\n, Astra, \n]
10081      Opel Corsa     \nOpel\n     [\n, Corsa, \n]
12818   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
4053          Audi A3     \nAudi\n        [\n, A3, \n]
3458          Audi A3     \nAudi\n        [\n, A3, \n]
4436          Audi A3     \nAudi\n        [\n, A3, \n]
9724       Opel Corsa     \nOpel\n     [\n, Corsa, \n]
1850          Audi A1     \nAudi\n        [\n, A1, \n]
12861   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
5157          Audi A3     \nAudi\n        [\n, A3, \n]
7925       Opel Astra     \nOpel\n     [\n, Astra, \n]
2635          Audi A3     \nAudi\n        [\n, A3, \n]
13617    Renault Clio  \nRenault\n      [\n, Clio, \n]
3646          Audi A3     \nAudi\n        [\n, A3, \n]
15414  Renault Espace  \nRenault\n    [\n, Espace, \n]
12005   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
15796  Renault Espace  \nRenault\n    [\n, Espace, \n]
11624   Opel Insignia     \nOpel\n  [\n, Insignia, \n]
9759       Opel Corsa     \nOpel\n     [\n, Corsa, \n]
1792          Audi A1     \nAudi\n        [\n, A1, \n]
15665  Renault Espace  \nRenault\n    [\n, Espace, \n]
14318    Renault Clio  \nRenault\n      [\n, Clio, \n]
14848    Renault Clio  \nRenault\n      [\n, Clio, \n]
2317          Audi A1     \nAudi\n        [\n, A1, \n]
6555       Opel Astra     \nOpel\n     [\n, Astra, \n]
1188          Audi A1     \nAudi\n        [\n, A1, \n]
7110       Opel Astra     \nOpel\n     [\n, Astra, \n]
3098          Audi A3     \nAudi\n        [\n, A3, \n]
9482       Opel Corsa     \nOpel\n     [\n, Corsa, \n]
2770          Audi A3     \nAudi\n        [\n, A3, \n]
4590          Audi A3     \nAudi\n        [\n, A3, \n]
5128          Audi A3     \nAudi\n        [\n, A3, \n]
5936       Opel Astra     \nOpel\n     [\n, Astra, \n]
4827          Audi A3     \nAudi\n        [\n, A3, \n]

### COLUMN-21 Model

In [40]:
# 20. sütun ile beraber düşürülecek

### COLUMN-22 Offer Number

In [41]:
df["Offer Number"].value_counts().sample(50)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n331452\n]               1
[\n455313\n]               1
[\nAI,142040\n]            1
[\n220751\n]               1
[\nB11232-Q2\n]            1
[\n76313\n]                1
[\n4944025\n]              4
[\nH1028991\n]             1
[\n246086432\n]            1
[\n519027\n]               1
[\n71283\n]                1
[\nG564\n]                 1
[\n2000713/19\n]           1
[\nM_072681\n]             1
[\n11224084\n]             1
[\n4238631\n]              1
[\nT44458\n]               1
[\n6229\n]                 2
[\n2020976017\n]           1
[\nB100179\n]              1
[\nG00232\n]               1
[\nK1023724\n]             1
[\nu125059\n]              1
[\n4628\n]                 1
[\n71256\n]                1
[\n4944255\n]              1
[\n192000110\n]            1
[\n120009\n]               1
[\nD5059\n]                1
[\n10597967\n]             1
[\n8059621/0466_7841\n]    1
[\n9C0_318_791_1466\n]     2
[\nAM-95218\n]             1
[\nET-BT1217\n]            1
[\n362711149\n]            1
[\nR032351\n]              1
[\nXP600L\n]               1
[\nIN039\n]                1
[\n205875\n]               1
[\n00-11-11191\n]          1
[\n10101840\n]             1
[\n8150855-AWD\n]          1
[\nK8031097_2676\n]        1
[\n68716\n]                1
[\n17885\n]                1
[\n0544JWV\n]              1
[\n2693356\n]              1
[\n087313\n]               1
[\n9967\n]                 1
[\n2446894\n]              1
Name: Offer Number, dtype: int64

### COLUMN-23 First Registration

In [42]:
df["First Registration"] # 8 sütunla karşılaştırmalı kullanımına karar verilecek

0        [\n, 2016, \n]
1        [\n, 2017, \n]
2        [\n, 2016, \n]
3        [\n, 2016, \n]
4        [\n, 2016, \n]
              ...
15914               NaN
15915    [\n, 2019, \n]
15916    [\n, 2019, \n]
15917    [\n, 2019, \n]
15918    [\n, 2019, \n]
Name: First Registration, Length: 15919, dtype: object

### COLUMN-24 Body Color

In [43]:
df[["Body Color", "Body Color Original", "Paint Type"]].sample(50)

             Body Color                   Body Color Original      Paint Type
13917   [\n, Black, \n]                            [\nNero\n]  [\nMetallic\n]
2251    [\n, White, \n]                  [\nBianco Cortina\n]             NaN
12280    [\n, Blue, \n]                    [\nDiamant Blau\n]  [\nMetallic\n]
15338  [\n, Silver, \n]                 [\nSilber Metallic\n]  [\nMetallic\n]
5005    [\n, Black, \n]       [\nBrilliant Schwarz/Schwarz\n]             NaN
6366     [\n, Grey, \n]                                   NaN  [\nMetallic\n]
1347    [\n, White, \n]                                   NaN  [\nMetallic\n]
9974      [\n, Red, \n]             [\nLava Rot (Brillant)\n]             NaN
11259  [\n, Silver, \n]                     [\nArgonsilber\n]  [\nMetallic\n]
9463     [\n, Grey, \n]                    [\nGrigio scuro\n]  [\nMetallic\n]
11362  [\n, Silver, \n]            [\nArgonsilber Metallic\n]  [\nMetallic\n]
1609    [\n, White, \n]          [\nGletscherweiß Metallic\n]  [\nMetallic\n]
12352    [\n, Grey, \n]                [\nQuarz-Grau (GR5)\n]  [\nMetallic\n]
3851    [\n, White, \n]                        [\nIbisweiß\n]             NaN
5058   [\n, Silver, \n]                                   NaN  [\nMetallic\n]
1503     [\n, Blue, \n]              [\nScubablau Metallic\n]  [\nMetallic\n]
14294   [\n, White, \n]                     [\nArktis Weiß\n]             NaN
4053    [\n, White, \n]                                   NaN             NaN
773     [\n, White, \n]                                   NaN             NaN
10809    [\n, Grey, \n]                                   NaN  [\nMetallic\n]
3400     [\n, Grey, \n]                                   NaN  [\nMetallic\n]
15360    [\n, Grey, \n]                            [\nGris\n]  [\nMetallic\n]
2530    [\n, White, \n]                    [\nCortinaweiss\n]             NaN
7120    [\n, Black, \n]       [\nCarbon Black (zwart metal\n]  [\nMetallic\n]
2491    [\n, White, \n]                    [\ncortinaweiss\n]             NaN
11370   [\n, Green, \n]                   [\nCarrageengrün\n]             NaN
11669    [\n, Grey, \n]                            [\nGris\n]  [\nMetallic\n]
14788  [\n, Silver, \n]                     [\nVari colori\n]  [\nMetallic\n]
6268      [\n, Red, \n]                        [\nLava Rot\n]  [\nMetallic\n]
4157   [\n, Silver, \n]                                   NaN  [\nMetallic\n]
5657    [\n, White, \n]                       [\nIbisweiss\n]             NaN
7300    [\n, Black, \n]                            [\nNero\n]  [\nMetallic\n]
8105                NaN     [\nwählbar - ggf. mit Aufpreis\n]             NaN
7717     [\n, Grey, \n]                      [\nquarz grau\n]  [\nMetallic\n]
13354    [\n, Grey, \n]                            [\ngrey\n]             NaN
1426    [\n, White, \n]                                   NaN  [\nMetallic\n]
4943     [\n, Grey, \n]                      [\nmonsungrau\n]  [\nMetallic\n]
9935    [\n, White, \n]                     [\nSchnee Weiß\n]             NaN
2860    [\n, White, \n]                                   NaN  [\nMetallic\n]
7808    [\n, White, \n]                     [\nSchneeWeiss\n]             NaN
14536   [\n, Black, \n]                                   NaN  [\nMetallic\n]
7565   [\n, Silver, \n]    [\nArgon Silber/Ice Silver (M2)\n]  [\nMetallic\n]
14410     [\n, Red, \n]                                   NaN  [\nMetallic\n]
1174    [\n, White, \n]                                   NaN  [\nMetallic\n]
14566    [\n, Grey, \n]             [\nTitanium-Grau (KPN)\n]  [\nMetallic\n]
13015    [\n, Grey, \n]             [\nLicht Grau Metallic\n]  [\nMetallic\n]
5329    [\n, White, \n]                                   NaN  [\nMetallic\n]
1971   [\n, Yellow, \n]  [\nGiallo Pitone con tetto Nero M\n]             NaN
6014    [\n, Black, \n]                            [\nNOIR\n]             NaN
251     [\n, Black, \n]                                   NaN  [\nMetallic\n]

### COLUMN-25 Paint Type

In [44]:
df["Paint Type"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

### COLUMN-26 Body Color Original

In [45]:
df["Body Color Original"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nOnyx Schwarz\n]              338
[\nBianco\n]                    282
[\nMythosschwarz Metallic\n]    238
[\nBrillantschwarz\n]           216
[\nGris\n]                      204
                               ...
[\nBleu Celeste\n]                1
[\nBlu cosmo metallizzato\n]      1
[\nBlac Ivoire D16\n]             1
[\nkarbonschwarz met\n]           1
[\nSATIN STEEL\n]                 1
Name: Body Color Original, Length: 1927, dtype: int64

### COLUMN-27 Upholstery

In [46]:
df["Upholstery"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nCloth, White\n]              8
[\nVelour, Grey\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nBlue\n]                      2
[\nFull leather, Blue\n]        2
[\nalcantara\n]                 2
[\nalcantara, Other\n]          2
[\nPart leather, Beige\n]       2
[\nWhite\n]                     2
[\nPart leather, White\n]       2
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nCloth, Orange\n]             1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

### COLUMN-28 Body

In [47]:
df.Body.value_counts() # drop edilecek

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

### COLUMN-29 Nr. of Doors

In [48]:
df["Nr. of Doors"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64

### COLUMN-30 Nr. of Seats

In [49]:
df["Nr. of Seats"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

### COLUMN-31 Model Code

In [50]:
df["Model Code"].value_counts().sample(25)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0035/BAG\n]      1
[\n0035/BEM\n]      1
[\n3333/BAD\n]      9
[\n0588/AVQ\n]      1
[\n0035/BAQ\n]      7
[\n0588/AWJ\n]     82
[\n1844/AHR\n]      1
[\n0588/BCW\n]     31
[\n0588/AZZ\n]      1
[\n0588/BAF\n]      7
[\n0588/AZX\n]     21
[\n1844/AFE\n]      7
[\n0588/BDB\n]    206
[\n0035/BGY\n]      1
[\n0035/BEO\n]      9
[\n1844/ADL\n]      2
[\n0035/BFM\n]     84
[\n1844/AEZ\n]      6
[\n0035/BGI\n]      1
[\n0035/ADJ\n]      2
[\n0588/BER\n]      2
[\n0035/BHQ\n]     48
[\n3333/BEG\n]     50
[\n0035/BHK\n]      8
[\n0035/BCB\n]    268
Name: Model Code, dtype: int64

### COLUMN-32 Gearing Type

In [52]:
df[["Gearing Type", "Gears"]].sample(50)  # 46. sütun ile beraber değerlendir

              Gearing Type    Gears
9118      [\n, Manual, \n]  [\n6\n]
11097     [\n, Manual, \n]  [\n6\n]
4147      [\n, Manual, \n]  [\n6\n]
14467  [\n, Automatic, \n]  [\n6\n]
1994   [\n, Automatic, \n]      NaN
6784      [\n, Manual, \n]  [\n5\n]
15144  [\n, Automatic, \n]  [\n6\n]
1978   [\n, Automatic, \n]  [\n7\n]
6236      [\n, Manual, \n]  [\n6\n]
14090  [\n, Automatic, \n]      NaN
2937   [\n, Automatic, \n]      NaN
12465  [\n, Automatic, \n]      NaN
10951     [\n, Manual, \n]  [\n6\n]
11260     [\n, Manual, \n]  [\n6\n]
2422      [\n, Manual, \n]  [\n5\n]
6597   [\n, Automatic, \n]  [\n6\n]
3075      [\n, Manual, \n]      NaN
12538  [\n, Automatic, \n]  [\n8\n]
2490      [\n, Manual, \n]      NaN
12404  [\n, Automatic, \n]  [\n6\n]
5466      [\n, Manual, \n]      NaN
5514      [\n, Manual, \n]      NaN
11212     [\n, Manual, \n]  [\n6\n]
1335      [\n, Manual, \n]  [\n5\n]
15329     [\n, Manual, \n]  [\n6\n]
10503     [\n, Manual, \n]      NaN
13543     [\n, Manual, \n]  [\n5\n]
12369     [\n, Manual, \n]  [\n6\n]
12398  [\n, Automatic, \n]  [\n6\n]
11053     [\n, Manual, \n]      NaN
14910     [\n, Manual, \n]  [\n6\n]
4871      [\n, Manual, \n]  [\n6\n]
10077  [\n, Automatic, \n]  [\n6\n]
14071  [\n, Automatic, \n]  [\n6\n]
5491      [\n, Manual, \n]  [\n6\n]
9567      [\n, Manual, \n]  [\n5\n]
13553     [\n, Manual, \n]  [\n5\n]
8078      [\n, Manual, \n]  [\n6\n]
12106     [\n, Manual, \n]      NaN
15514  [\n, Automatic, \n]      NaN
1078   [\n, Automatic, \n]  [\n7\n]
15325     [\n, Manual, \n]  [\n6\n]
5095   [\n, Automatic, \n]  [\n7\n]
7059   [\n, Automatic, \n]      NaN
2464      [\n, Manual, \n]  [\n6\n]
10556  [\n, Automatic, \n]  [\n6\n]
5870   [\n, Automatic, \n]  [\n6\n]
15458  [\n, Automatic, \n]      NaN
11908  [\n, Automatic, \n]  [\n6\n]
2812   [\n, Automatic, \n]  [\n7\n]

### COLUMN-33 Displacement

In [54]:
df["Displacement"]

0        [\n1,422 cc\n]
1        [\n1,798 cc\n]
2        [\n1,598 cc\n]
3        [\n1,422 cc\n]
4        [\n1,422 cc\n]
              ...
15914    [\n1,997 cc\n]
15915    [\n1,798 cc\n]
15916    [\n1,997 cc\n]
15917    [\n1,997 cc\n]
15918    [\n1,798 cc\n]
Name: Displacement, Length: 15919, dtype: object

### COLUMN-34 Cylinders

In [56]:
df["Cylinders"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n2\n]       2
[\n8\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

### COLUMN-35 Weight

In [58]:
df["Weight"]

0        [\n1,220 kg\n]
1        [\n1,255 kg\n]
2                   NaN
3        [\n1,195 kg\n]
4                   NaN
              ...
15914    [\n1,758 kg\n]
15915    [\n1,708 kg\n]
15916               NaN
15917    [\n1,758 kg\n]
15918    [\n1,685 kg\n]
Name: Weight, Length: 15919, dtype: object

### COLUMN-36 Drive chain

In [60]:
df["Drive chain"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

### COLUMN-37 Fuel

In [62]:
df[["Fuel", "Type"]]

,Fuel,Type
0,"[\n, Diesel (Particulate Filter), \n]","[, Used, , Diesel (Particulate Filter)]"
1,"[\n, Gasoline, \n]","[, Used, , Gasoline]"
2,"[\n, Diesel (Particulate Filter), \n]","[, Used, , Diesel (Particulate Filter)]"
3,"[\n, Diesel (Particulate Filter), \n]","[, Used, , Diesel (Particulate Filter)]"
4,"[\n, Diesel (Particulate Filter), \n]","[, Used, , Diesel (Particulate Filter)]"
...,...,...
15914,"[\n, Diesel (Particulate Filter), \n]","[, New, , Diesel (Particulate Filter)]"
15915,"[\n, Super 95 / Super Plus 98 (Particulate Fil...","[, Used, , Super 95 / Super Plus 98 (Particula..."
15916,"[\n, Diesel, \n]","[, Pre-registered, , Diesel]"
15917,"[\n, Diesel, \n]","[, Pre-registered, , Diesel]"
15918,"[\n, Super 95, \n]","[, Demonstration, , Super 95]"

### COLUMN-38 Consumption

In [65]:
df["Consumption"]

0        [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
1        [[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...
2        [[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...
3        [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
4        [[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...
                               ...
15914    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15915    [\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...
15916    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15917    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15918    [[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...
Name: Consumption, Length: 15919, dtype: object

### COLUMN-39 CO2 Emission

In [75]:
df[["CO2 Emission", "Emission Class", "Emission Label"]].sample(20)

                    CO2 Emission      Emission Class        Emission Label
108     [\n92 g CO2/km (comb)\n]        [\nEuro 6\n]                   NaN
12527  [\n186 g CO2/km (comb)\n]  [\nEuro 6d-TEMP\n]                   NaN
8516                [[], [], []]                 NaN                   NaN
5241   [\n114 g CO2/km (comb)\n]                 NaN  [\n1 (No sticker)\n]
5128   [\n110 g CO2/km (comb)\n]        [\nEuro 6\n]       [\n4 (Green)\n]
11153   [\n99 g CO2/km (comb)\n]        [\nEuro 6\n]                   NaN
4088   [\n107 g CO2/km (comb)\n]        [\nEuro 6\n]                   NaN
12643  [\n147 g CO2/km (comb)\n]  [\nEuro 6d-TEMP\n]                   NaN
12139  [\n139 g CO2/km (comb)\n]        [\nEuro 6\n]       [\n4 (Green)\n]
1515    [\n97 g CO2/km (comb)\n]        [\nEuro 6\n]                   NaN
2216   [\n106 g CO2/km (comb)\n]  [\nEuro 6d-TEMP\n]                   NaN
1378    [\n97 g CO2/km (comb)\n]        [\nEuro 6\n]                   NaN
4502   [\n117 g CO2/km (comb)\n]        [\nEuro 6\n]       [\n4 (Green)\n]
5210   [\n114 g CO2/km (comb)\n]        [\nEuro 6\n]                   NaN
13104  [\n120 g CO2/km (comb)\n]        [\nEuro 6\n]       [\n4 (Green)\n]
10720  [\n149 g CO2/km (comb)\n]        [\nEuro 6\n]                   NaN
12288  [\n136 g CO2/km (comb)\n]        [\nEuro 6\n]       [\n4 (Green)\n]
8430   [\n110 g CO2/km (comb)\n]                 NaN                   NaN
5125                         NaN                 NaN                   NaN
9572   [\n120 g CO2/km (comb)\n]        [\nEuro 6\n]                   NaN

### COLUMN-40 Emission Class

In [ ]:
# 39 sütunla beraber değerlendirilecek. 14-15-16-17-18 sütunlar benzer bilgi

### COLUMN-41 \nComfort & Convenience\n

In [87]:
df["\nComfort & Convenience\n"][0]

['Air conditioning',
 'Armrest',
 'Automatic climate control',
 'Cruise control',
 'Electrical side mirrors',
 'Hill Holder',
 'Leather steering wheel',
 'Light sensor',
 'Multi-function steering wheel',
 'Navigation system',
 'Park Distance Control',
 'Parking assist system sensors rear',
 'Power windows',
 'Rain sensor',
 'Seat heating',
 'Start-stop system']

### COLUMN-42 \nEntertainment & Media\n

In [88]:
df["\nEntertainment & Media\n"][0]

['Bluetooth', 'Hands-free equipment', 'On-board computer', 'Radio']

### COLUMN-43 \nExtras\n

In [89]:
df["\nExtras\n"][0]

['Alloy wheels', 'Catalytic Converter', 'Voice Control']

### COLUMN-44 \nSafety & Security\n

In [90]:
df["\nSafety & Security\n"][0]

['ABS',
 'Central door lock',
 'Daytime running lights',
 'Driver-side airbag',
 'Electronic stability control',
 'Fog lights',
 'Immobilizer',
 'Isofix',
 'Passenger-side airbag',
 'Power steering',
 'Side airbag',
 'Tire pressure monitoring system',
 'Traction control',
 'Xenon headlights']

In [ ]:
### COLUMN-45 description

In [86]:
df["description"][0]

['\n',
 'Sicherheit:',
 ' ',
 'Deaktivierung für Beifahrer-Airbag',
 ' ',
 'ESC mit elektronischer Quersperre',
 ' ',
 'Tagfahrlicht',
 ' ',
 'Reifendruck-Kontrollanzeige',
 ' ',
 'Kopfairbag-System mit Seiten-Airbags vorn',
 ' ',
 'Sicherheitslenksäule',
 'Assistenzsysteme:',
 ' ',
 'Berganfahrassistent',
 'Komfort:',
 ' ',
 'Scheinwerferreinigung',
 ' ',
 'Xenon plus inklusive Scheinwerfer-Reinigungsanlage',
 ' ',
 'Scheinwerfer-Reinigungsanlage',
 ' ',
 'Einparkhilfe hinten',
 ' ',
 'Licht-/Regensensor',
 ' ',
 'Funkfernbedienung',
 ' ',
 'Elektrische Luftzusatzheizung',
 'Interieur:',
 ' ',
 'Rücksitzanlage 2 + 1',
 ' ',
 'Multifunktions-Sportlederlenkrad im 3-Speichen-Design',
 ' ',
 'automatische Leuchtweitenregulierung',
 ' ',
 'Fahrerinformationssystem',
 ' ',
 'Staub- und Pollenfilter',
 ' ',
 'Kopfstützen hinten (3 Stück)',
 ' ',
 'Stoff Zeitgeist',
 ' ',
 'Fahrersitz manuell höheneinstellbar',
 ' ',
 'Scheiben seitlich und hinten in Wärmeschutzverglasung',
 ' ',
 'Kindersitzbefestigung ISOFIX und Top Tether für die äußeren Fondsitze',
 ' ',
 'Dachhimmel in Stoff titangrau',
 ' ',
 'Waschwasser-Standanzeige',
 ' ',
 'Nichtraucherfahrzeug',
 'Exterieur:',
 ' ',
 'Elektrische Aussenspiegel',
 ' ',
 'Außenspiegel elektrisch beheizbar inklusive beheizbarer Scheibenwaschdüsen',
 ' ',
 'Scheibenwaschdüsen beheizbar vorn',
 ' ',
 'Aluminium-Gussräder im 10-Speichen-Design Größe 7 J x 16 mit Reifen 215/45 R 16',
 ' ',
 'LED-Heckleuchten',
 ' ',
 'Dynamikfahrwerk',
 ' ',
 'Reifenreparaturset',
 ' ',
 'Heckscheibenwischer mit Wasch-Wisch-Automatik',
 'Umwelt:',
 ' ',
 'Start-Stop-System',
 ' ',
 'Abgaskonzept EU6 plus',
 'Multimedia:',
 ' ',
 'Radio mit Dreifachtuner und Phasendiversity',
 ' ',
 'Bluetooth-Schnittstelle',
 ' ',
 'media-Paket',
 ' ',
 'Sprachdialogsystem',
 ' ',
 'MMI® Navigation plus',
 'Getriebe:',
 ' ',
 '7-Gang-Automatikgetriebe',
 'Sonstiges:',
 ' ',
 'Scheckheft gepflegt',
 ' ',
 'Frontscheibe mit grauem Colorstreifen am oberen Rand',
 ' ',
 'Verbau der Startbatterie hinten ohne zweite Batterie',
 ' ',
 'GebrauchtwagenPlus',
 ' ',
 'Eingabefehler Irrtümer und Zwischenverkauf vorbehalten. Die gemachten Angaben in Anzeigen Internet Preisschildern und Bildern sind unverbindliche Beschreibungen und dienen nicht als zugesicherte Eigenschaften. Der Verkäufer übernimmt keine Haftung für Tipp- und Datenübermittlungsfehlern. Aufgeführte Ausstattungen sind ggfs. gesondert zu prüfen. Alle Angaben in den Inseraten sind unverbindlich und ohne Gewähr. Wir freuen uns auf Ihren Besuch.',
 '\n']

In [ ]:
### COLUMN-46 Emission Label

In [ ]:
### COLUMN-47 Gears

In [92]:
df[["Gears", "Gearing Type"]] # 32. sütun ile beraber değerlendir

         Gears         Gearing Type
0          NaN  [\n, Automatic, \n]
1      [\n7\n]  [\n, Automatic, \n]
2          NaN  [\n, Automatic, \n]
3      [\n6\n]  [\n, Automatic, \n]
4          NaN  [\n, Automatic, \n]
...        ...                  ...
15914  [\n6\n]  [\n, Automatic, \n]
15915  [\n7\n]  [\n, Automatic, \n]
15916  [\n6\n]  [\n, Automatic, \n]
15917  [\n6\n]  [\n, Automatic, \n]
15918      NaN  [\n, Automatic, \n]

[15919 rows x 2 columns]

In [ ]:
### COLUMN-48 Country version

In [100]:
df[["Country version", "make_model"]].sample(25)

            Country version      make_model
15637           [\nItaly\n]  Renault Espace
6594          [\nGermany\n]      Opel Astra
3616      [\nNetherlands\n]         Audi A3
10663                   NaN   Opel Insignia
6561                    NaN      Opel Astra
3493          [\nGermany\n]         Audi A3
9729            [\nItaly\n]      Opel Corsa
2590                    NaN         Audi A1
7440                    NaN      Opel Astra
14866                   NaN    Renault Clio
12760     [\nNetherlands\n]   Opel Insignia
14576         [\nGermany\n]    Renault Clio
5797                    NaN      Opel Astra
10434         [\nGermany\n]      Opel Corsa
6098                    NaN      Opel Astra
10934           [\nItaly\n]   Opel Insignia
486       [\nNetherlands\n]         Audi A1
5927          [\nGermany\n]      Opel Astra
4441                    NaN         Audi A3
15558         [\nBelgium\n]  Renault Espace
9690                    NaN      Opel Corsa
13151         [\nGermany\n]    Renault Clio
11817         [\nHungary\n]   Opel Insignia
3748                    NaN         Audi A3
7844   [\nCzech Republic\n]      Opel Astra

In [ ]:
### COLUMN-49 Electricity consumption

In [102]:
df["Electricity consumption"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0 kWh/100 km (comb)\n]    137
Name: Electricity consumption, dtype: int64

In [ ]:
### COLUMN-50 Last Service Date

In [104]:
df["Last Service Date"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n02/2019\n, \nEuro 6\n]                 23
[\n05/2019\n, \nEuro 6\n]                 16
[\n01/2018\n, \n118 g CO2/km (comb)\n]    15
[\n03/2019\n, \nEuro 6\n]                 15
[\n06/2019\n, \nEuro 6\n]                 13
                                          ..
[\n06/2018\n, \n102 g CO2/km (comb)\n]     1
[\n07/2018\n, \nEuro 6c\n]                 1
[\n12/2018\n, \n5 (Blue)\n]                1
[\n05/2019\n]                              1
[\n03/2019\n, \n135 g CO2/km (comb)\n]     1
Name: Last Service Date, Length: 266, dtype: int64

In [ ]:
### COLUMN-51 Other Fuel Types

In [106]:
df["Other Fuel Types"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[[], [], []]    880
Name: Other Fuel Types, dtype: int64

In [ ]:
### COLUMN-52 Availability

In [108]:
df["Availability"].value_counts()

\nin 90 days from ordering\n     196
\nin 120 days from ordering\n    182
\nin 1 day from ordering\n        51
\nin 3 days from ordering\n       35
\nin 5 days from ordering\n       35
\nin 14 days from ordering\n      24
\nin 180 days from ordering\n     24
\nin 7 days from ordering\n       20
\nin 150 days from ordering\n     18
\nin 2 days from ordering\n       16
\nin 60 days from ordering\n      13
\nin 42 days from ordering\n      10
\nin 21 days from ordering\n       8
\nin 4 days from ordering\n        2
\nin 6 days from ordering\n        1
Name: Availability, dtype: int64

In [ ]:
### COLUMN-53 Last Timing Belt Service Date

In [113]:
df["Last Timing Belt Service Date"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n04/2016\n]                2
[\n01/2019\n]                1
[\n01/1970\n]                1
[\n05/2019\n]                1
[\n06/2017\n]                1
[\n04/2019\n]                1
[\n01/1900\n]                1
[\n02/2018\n]                1
[\n05/2018\n, \nEuro 6\n]    1
[\n01/2018\n]                1
[\n07/2018\n]                1
[\n02/2019\n]                1
[\n09/2018\n]                1
[\n06/2019\n]                1
[\n12/1900\n]                1
Name: Last Timing Belt Service Date, dtype: int64

In [ ]:
### COLUMN-54 Available from

In [203]:
a = df["Model Code"]=="[\n0035/BCB\n]"
a.value_counts()

False    15919
Name: Model Code, dtype: int64

In [203]:
a = df["Model Code"]=="[\n0035/BCB\n]"
a.value_counts()

False    15919
Name: Model Code, dtype: int64

In [203]:
a = df["Model Code"]=="[\n0035/BCB\n]"
a.value_counts()

False    15919
Name: Model Code, dtype: int64

In [203]:
a = df["Model Code"]=="[\n0035/BCB\n]"
a.value_counts()

False    15919
Name: Model Code, dtype: int64

In [111]:
df["Available from"].value_counts()

\n31/08/19\n    98
\n30/07/19\n    25
\n15/08/19\n    24
\n16/09/19\n    14
\n29/06/19\n    12
\n01/07/19\n    11
\n28/06/19\n    10
\n19/08/19\n     7
\n10/09/19\n     6
\n10/11/19\n     5
\n27/06/19\n     5
\n26/06/19\n     5
\n08/07/19\n     4
\n15/07/19\n     3
\n01/08/19\n     3
\n25/10/19\n     3
\n20/07/19\n     2
\n30/06/19\n     2
\n24/08/19\n     2
\n05/07/19\n     2
\n05/08/19\n     2
\n16/07/19\n     2
\n04/07/19\n     2
\n27/07/19\n     1
\n03/08/19\n     1
\n06/12/19\n     1
\n10/10/19\n     1
\n01/09/19\n     1
\n29/09/19\n     1
\n10/12/19\n     1
\n16/08/19\n     1
\n02/07/19\n     1
\n14/09/19\n     1
\n18/08/19\n     1
\n24/07/19\n     1
\n19/07/19\n     1
\n10/07/19\n     1
\n11/08/19\n     1
\n17/08/19\n     1
\n31/10/19\n     1
\n24/09/19\n     1
\n29/07/19\n     1
\n30/09/19\n     1
\n03/12/19\n     1
\n05/12/19\n     1
\n18/07/19\n     1
Name: Available from, dtype: int64

In [77]:
df_summary

                          Columns   dtypes  notnull  isnull
0                             url   object    15919       0
1                      make_model   object    15919       0
2               short_description   object    15873      46
3                       body_type   object    15859      60
4                           price    int64    15919       0
5                             vat   object    11406    4513
6                              km   object    15919       0
7                    registration   object    15919       0
8                      prev_owner   object     9091    6828
9                              kW  float64        0   15919
10                             hp   object    15919       0
11                           Type   object    15917       2
12                Previous Owners   object     9279    6640
13                Next Inspection   object     3535   12384
14                 Inspection new   object     3932   11987
15                       Warranty   object    10499    5420
16                   Full Service   object     8215    7704
17            Non-smoking Vehicle   object     7177    8742
18                           null   object    15919       0
19                           Make   object    15919       0
20                          Model   object    15919       0
21                   Offer Number   object    12744    3175
22             First Registration   object    14322    1597
23                     Body Color   object    15322     597
24                     Paint Type   object    10147    5772
25            Body Color Original   object    12160    3759
26                     Upholstery   object    12199    3720
27                           Body   object    15859      60
28                   Nr. of Doors   object    15707     212
29                   Nr. of Seats   object    14942     977
30                     Model Code   object     4978   10941
31                   Gearing Type   object    15919       0
32                   Displacement   object    15423     496
33                      Cylinders   object    10239    5680
34                         Weight   object     8945    6974
35                    Drive chain   object     9061    6858
36                           Fuel   object    15919       0
37                    Consumption   object    14013    1906
38                   CO2 Emission   object    14111    1808
39                 Emission Class   object    12898    3021
40      \nComfort & Convenience\n   object    14999     920
41      \nEntertainment & Media\n   object    14545    1374
42                     \nExtras\n   object    12957    2962
43          \nSafety & Security\n   object    14937     982
44                    description   object    15919       0
45                 Emission Label   object     3985   11934
46                          Gears   object    11207    4712
47                Country version   object     7586    8333
48        Electricity consumption   object      137   15782
49              Last Service Date   object      566   15353
50               Other Fuel Types   object      880   15039
51                   Availability   object      635   15284
52  Last Timing Belt Service Date   object       16   15903
53                 Available from   object      272   15647

In [61]:
df.Model

0            [\n, A1, \n]
1            [\n, A1, \n]
2            [\n, A1, \n]
3            [\n, A1, \n]
4            [\n, A1, \n]
               ...
15914    [\n, Espace, \n]
15915    [\n, Espace, \n]
15916    [\n, Espace, \n]
15917    [\n, Espace, \n]
15918    [\n, Espace, \n]
Name: Model, Length: 15919, dtype: object

In [67]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [18]:
df.body_type.describe(include=object)

count      15859
unique         9
top       Sedans
freq        7903
Name: body_type, dtype: object

In [19]:
df.body_type.unique()

array(['Sedans', 'Station wagon', 'Compact', 'Other', 'Coupe', 'Van',
       'Off-Road', 'Convertible', None, 'Transporter'], dtype=object)

In [20]:
df.body_type.isnull().sum()

60

## Import Libraries and Data

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)